.demo-react-data-grid {
  .react-select-wrapper {
    height: 40px;
    .react-select {
      float: right;
      width: 150px;
      text-align: start;
    }
  }
  .data-chip {
    width: fit-content;
    padding: 5px;
    margin: auto;
    background: aquamarine;
    border-radius: 25%;
  }
}
